body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:234px;
  width:1376px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:325px;
  top:1000px;
  width:730px;
  height:260px;
  font-size:18px;
  text-align:center;
  line-height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:260px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:590px;
  top:740px;
  width:200px;
  height:200px;
  font-size:28px;
  color:#AEAEAE;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u5 {
  position:absolute;
  left:2px;
  top:84px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:1400px;
  width:1380px;
  height:600px;
  font-size:28px;
  line-height:48px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:600px;
}
#u7 {
  position:absolute;
  left:300px;
  top:228px;
  width:780px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:325px;
  top:2141px;
  width:730px;
  height:50px;
  font-size:60px;
  text-align:center;
  line-height:48px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:50px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:450px;
  top:2301px;
  width:60px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:420px;
  top:2370px;
  width:120px;
  height:20px;
  font-size:18px;
  text-align:center;
  line-height:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:660px;
  top:2301px;
  width:60px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:630px;
  top:2370px;
  width:120px;
  height:20px;
  font-size:18px;
  text-align:center;
  line-height:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:870px;
  top:2301px;
  width:60px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:840px;
  top:2370px;
  width:120px;
  height:20px;
  font-size:18px;
  text-align:center;
  line-height:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
