body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:520px;
}
#u1 {
  position:absolute;
  left:25px;
  top:153px;
  width:270px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:920px;
  width:280px;
  height:650px;
  font-size:18px;
  text-align:center;
  line-height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:650px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:660px;
  width:200px;
  height:200px;
  font-size:28px;
  color:#AEAEAE;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u5 {
  position:absolute;
  left:2px;
  top:84px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:1680px;
  width:320px;
  height:600px;
  font-size:28px;
  line-height:48px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:600px;
}
#u7 {
  position:absolute;
  left:30px;
  top:84px;
  width:260px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:5px;
  top:2421px;
  width:310px;
  height:139px;
  font-size:48px;
  text-align:center;
  line-height:48px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:139px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:2583px;
  width:40px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:2630px;
  width:80px;
  height:20px;
  font-size:16px;
  text-align:center;
  line-height:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:140px;
  top:2583px;
  width:40px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:100px;
  top:2630px;
  width:120px;
  height:20px;
  font-size:16px;
  text-align:center;
  line-height:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:250px;
  top:2583px;
  width:40px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:230px;
  top:2630px;
  width:80px;
  height:20px;
  font-size:16px;
  text-align:center;
  line-height:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
